<ion-header>
  <ion-toolbar>
    <ion-title>Tasklist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addItem()">
        Add Item
        <ion-icon slot="end" name="addItem"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks | async" #slidingItem>
      <ion-item [ngClass]="{taskDone: task.status == 'done'}">
        {{task.title}}
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="removeTask(slidingItem, task)">
        <button ion-button icon-only (click)="markAsDone(slidingItem,task)" color="secondary">
          <ion-icon name="checkmark"></ion-icon>
        </button>
        <button ion-button icon-only expandable color="danger" (click)="removeTask(slidingItem,task)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
